<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	
	default-autowire="byName">

    <context:annotation-config/>
 
    <context:component-scan base-package="com.soar.ax.service"/>
    <!-- database Config -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:/database-config.properties</value>
			</list>
		</property>
	</bean>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
			<property name="driverClassName">
			      <value>${jdbc.driver}</value>
			</property>
            <property name="url">
                  <value>${jdbc.url}</value>
            </property>
			<property name="username">
			     <value>${jdbc.username}</value>  
			</property>
			<property name="password">
			      <value>${jdbc.password}</value>
			</property>
	</bean>
	
	
	<!--
	
    
    <bean id="myBatisSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="ovpDataSource" />
        <property name="configLocation" value="classpath:mybatis-config/mybatis.xml" />
        <property name="mapperLocations" value="classpath*:mybatis-config/mybatis-*.xml" />
    </bean>
    
     baseIbatisDao 
    <bean id="ovpMyBatisGeneralDao" class="com.soar.ax.dao.MyBatisGeneralDao">
          <property name="sqlSessionFactory"><ref bean="myBatisSqlSessionFactory"/></property>
    </bean>
	-->
	
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
       
		<property name="packagesToScan" value="com.soar.ax.entity"/>
        <property name="hibernateProperties">
	        <props>                
	            <prop key="hibernate.dialect">${hibernate.dialect}</prop>  
	            <prop key="hibernate.jdbc.fetch_size">${hibernate.jdbc.fetch_size}</prop>
	            <prop key="hibernate.jdbc.batch_size">${hibernate.jdbc.batch_size}</prop>
	            <prop key="hibernate.jdbc.use_scrollable_resultset">${hibernate.jdbc.use_scrollable_resultset}</prop>
	            <prop key="hibernate.use_outer_join">${hibernate.use_outer_join}</prop>
	            <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
	            <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
	            <prop key="hibernate.hbm2ddl.auto">update</prop>
	            <prop key=" hibernate.cache.use_second_level_cache ">false</prop>
	             
	            <prop key="hibernate.connection.pool_size">${hibernate.connection.pool_size}</prop>
	         
	            <prop key="hibernate.connection.useUnicode">${hibernate.connection.useUnicode}</prop>
	            <prop key="hibernate.connection.characterEncoding">${hibernate.connection.characterEncoding}</prop>	            
	        </props>
        </property>  
    </bean>
    <!-- ibatis 配置 -->
     <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:mybatis-config/mybatis.xml" />
        <property name="mapperLocations" value="classpath*:mybatis-config/mybatis-*.xml" />
    </bean>
    
    <!-- omnipotent common dao -->
	<bean id="hibernateGeneralDao" class="com.soar.ax.dao.HibernateGeneralDao">
	    <property name="sessionFactory" ref="sessionFactory" />
	</bean>
    
    <!-- baseIbatisDao -->
    <bean id="myBatisGeneralDao" class="com.soar.ax.dao.MyBatisGeneralDao">
          <property name="sqlSessionFactory"><ref bean="sqlSessionFactory"/></property>
    </bean>
    	      
    <bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" />
    
    
</beans>
