/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/



/* Body and structure
-------------------------------------------------- */

/**AX OWN CSS**/
body{
    padding-top: 60px;
    padding-bottom: 40px;
}


/**
.navbar-fixed-top .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: left;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
.navbar-fixed-top .brand:hover {
  text-decoration: none;
}

.navbar-inner{
	min-height: 40px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #2c2c2c;
	background-image: -moz-linear-gradient(top,#049CDB,#3A87AD);
	background-image: -ms-linear-gradient(top,#049CDB,#3A87AD);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#049CDB),to(#3A87AD));
	background-image: -webkit-linear-gradient(top,#049CDB,#3A87AD);
	background-image: -o-linear-gradient(top,#049CDB,#3A87AD);
	background-image: linear-gradient(top,#049CDB,#3A87AD);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb',endColorstr='#3a87ad',GradientType=0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);

}



**/


.pagination a, 
.pagination span {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    border-color: #DDDDDD;
    border-style: none;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 38px;
    padding: 0 14px;
    text-decoration: none;
}

.main-content{
	margin-top:60px;
	min-height:400px;/*ss*/
	height:auto!important;
  	height:400px;
}
.mini-height{
	

}
.align-left{
	text-align:left;
}
.align-right{
	text-align:right;
}
.align-center{
	text-align:center;
}

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #555;
}

.model-fly{
  
  border: 0px;
}
.input-large340 {
  width: 340px;
}
.sign-in{
	width:350px;
	max-width:350px;
	padding: 19px 29px 19px;
	margin: 20px auto 20px;





	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #2C263F), color-stop(100%, rgba(44, 38, 63, 0.4)));
    background-image: -moz-linear-gradient(top, #2C263F 0%, rgba(44, 38, 63, 0.4) 100%);
    background-image: linear-gradient(top, #2C263F 0%, rgba(44, 38, 63, 0.4) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#333333, endColorstr=#999999);/*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#333333, endColorstr=#999999)";/*2C263FIE8+*/
    border: 1px solid #373553;
    color: #BFB8E5;



	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.content{
	position: absolute;
	z-index: 10;

	width: 100%;
}

.login-tip{
    width:350px;
	max-width:350px;
	padding: 19px 29px 19px;
	margin: 20px auto 20px;
}

.background-red{

	/**
	background-color:#F5F5F5;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #06060A), color-stop(100%, #1C1828));
	background-image: -moz-linear-gradient(top, #06060A 0%, #1C1828 100%);
	background-image: linear-gradient(top, #06060A 0%, #1C1828 100%);
	 **/
	/*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#06060A, endColorstr=#1C1828);IE<9>*/
    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#06060A, endColorstr=#1C1828)";IE8+*/
   
}

.sky{
	height: 70%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.landscape{
	bottom: 0;
    height: 700px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

