/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/



/* Body and structure
-------------------------------------------------- */

/**AX OWN CSS**/
body{
    padding-top: 60px;
    padding-bottom: 40px;
}

.component-center{
	margin-left:auto;
	margin-right:auto;
}	


.mini-height{
	min-height:400px;/*ss*/
	height:auto!important;
  	height:400px;

}
.align-left{
	text-align:left;
}
.align-right{
	text-align:right;
}
.align-center{
	text-align:center;
}

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #555;
}

.model-fly{
  
  border: 0px;
}
.input-large340 {
  width: 340px;
}
.sign-in{
	width:350px;
	max-width:350px;
	padding: 19px 29px 19px;
	margin: 20px auto 20px;





	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #2C263F), color-stop(100%, rgba(44, 38, 63, 0.4)));
    background-image: -moz-linear-gradient(top, #2C263F 0%, rgba(44, 38, 63, 0.4) 100%);
    background-image: linear-gradient(top, #2C263F 0%, rgba(44, 38, 63, 0.4) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#333333, endColorstr=#999999);/*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#333333, endColorstr=#999999)";/*2C263FIE8+*/
    border: 1px solid #373553;
    color: #BFB8E5;



	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.content{
	position: absolute;
	z-index: 10;

	width: 100%;
}

.login-tip{
    width:350px;
	max-width:350px;
	padding: 19px 29px 19px;
	margin: 20px auto 20px;
}

.background-red{

	/**
	background-color:#F5F5F5;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #06060A), color-stop(100%, #1C1828));
	background-image: -moz-linear-gradient(top, #06060A 0%, #1C1828 100%);
	background-image: linear-gradient(top, #06060A 0%, #1C1828 100%);
	 **/
	/*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#06060A, endColorstr=#1C1828);IE<9>*/
    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#06060A, endColorstr=#1C1828)";IE8+*/
   
}

.sky{
	height: 70%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.landscape{
	bottom: 0;
    height: 700px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

