body {
	background: #FFF;
	color: #666;
	font: 14px/22px 'Open Sans', Arial, sans-serif;
	text-align: justify;	
}

html {
	background: url(http://subtlepatterns.com/patterns/dark_dotted.png) repeat #222;
}




pre, code {
	font-family: "Consolas", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	font-size: 12px;
	line-height: 18px;
	border: 1px solid #CCC;
	padding: 10px;
	margin: 10px 0;
	overflow: hidden;
	background: #F8F8F8;
	color: #333;
}


.socials {
	font-size: 12px;
	margin: 10px 0 0;
}

/* Custom styles for popin & close button */
.custom {
	color: #555;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.custom p {
	padding: 10px 20px;
	margin: 30px 0 0;
	font-size: 14px;
	font-weight: 300;
	text-align: justify;
}

.avgrund-close {
	display: block;
	text-transform: uppercase;
	color: #555;
	text-decoration: none;
	position: absolute;
	top: 6px;
	right: 10px;
	font-size: 13px;
}
