<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soar.ax.entity.ovp">
    <select id="salesOrderSmaillView" parameterType="map" resultType="salesOrder">
       SELECT * 
		  FROM
		  
		  ( SELECT rownumber()  over()  as rownumber,
			SLS_ORDR_NUM as salesOrderNumber ,
			SLS_ORDR_LINE_NUM as salesOrderLineItemNumber ,
			DLVRY_NUM as deliveryNumber ,
			DLVRY_ITEM_NUM as deliveryItemNumber ,
			INVC_NUM as invoiceNumber ,
			ORDR_TYPE as orderType ,
			ORDR_TYPE_DESC as orderTypeDescription ,
			ORDR_STS_HDR as orderStatusHeader ,
			ORDR_STS_ITEM as orderStatusItem ,
			PRTL_SHIP as partialShip ,
			ORDR_CTGRY as orderCategory ,
			PROD_ID as productId ,
			PROD_DESC as productDescription ,
			PROD_HIER as productHierarchy ,
			MACH_TYPE as machineType ,
			MACH_TYPE_DESC as machineTypeDescription ,
			MACH_MDL as machineModel ,
			MACH_MDL_DESC as machineModelDescription ,
			PROD_GRP as productGroup ,
			PROD_GRP_DESC as productGroupDescription ,
			PROD_BRD as productBrand ,
			PROD_BRD_DESC as productBrandDescription ,
			PROD_FMLY as productFamily ,
			EAN_UPC as eanUpc ,
			ORDR_QTY as orderQuantity ,
			DLVRD_QTY as deliveredQuantity ,
			DLVRY_NOTES as deliveryNotes ,
			SLS_UNIT as salesUnit ,
			HDR_CRNCY as headerCurrency ,
			ITEM_CRNCY as itemCurrency ,
			UNIT_PRC as unitPrice ,
			ORDR_AMT_ITEM as totalLineItemPrice ,
			ORDR_AMT_HDR as purchaseAmount ,
			TOT_PRC_ORDR_TAX as totalPurchaseOrderTax ,
			DOC_DT as documentDate ,
			ORDR_ENT_DT as orderEntryDate ,
			ORDR_ENT_TM as orderEntryTime ,
			ORDR_CHG_DT as orderChangeDate ,
			ORDR_RCPT_DT as orderReceiptDate ,
			ORDR_CNCLL_DT as orderCancellDate ,
			CUST_RQSTD_ARR_DT as customerRequestedArrivalDate ,
			PLAN_ARR_DT as plannedArrivalDate ,
			PLAN_SPLR_SHIP_DT as plannedSupplierShipDate ,
			ORDR_RELSE_DT as orderReleaseDate ,
			FIRM_SHIP_DT as firmShipDate ,
			FIRM_ARR_DT as firmArrivalDate ,
			SO_LINE_ITEM_LEAD_TM as soLineItemLeadTime ,
			PROOF_OF_DLVRY as proofOfDelivery ,
			CMT_GOODS_ISS_CSD as committedGoodsIssueCSD ,
			CT_ORDR_ENT_TO_SHIP_DT_BSNS as ctOrderEntryToShipDateBusiness ,
			CT_ORDR_ENT_TO_SHIP_DT_CAL as ctOrderEntryToShipDateCalendar ,
			CT_ORDR_RCPT_TO_SHIP_DT_BSNS as ctShipDateBus ,
			CT_ORDR_RCPT_TO_SHIP_DT_CAL as ctShipDateCalendar ,
			CT_ORDR_ENT_TO_DLVRY_DT_BSNS as ctDeliveryDateBusiness ,
			CT_ORDR_ENT_TO_DLVRY_DT_CAL as ctDeliveryCalendar ,
			CT_ORDR_RCPT_TO_DLVRY_DT_CAL as ctReceiptDeliCalendar ,
			CT_ORDR_RCPT_TO_DLVRY_DT_BSNS as ctReceiptToDeliDateBusi ,
			ORDR_RCPT_TO_ORDR_RELSE as orderReceiptToOrderRelease ,
			CUST_PO_NUM as customerPurchaseOrderNumber ,
			SOH_PO_NUM as sohPurchaseOrderNumber ,
			ORDRG_METH as orderingMethod ,
			ORDRG_METH_DESC as orderingMethodDescription ,
			REJ_RSN as rejectReason ,
			PO_DOC_DT as purchaseOrderDocumentDate ,
			PO_CNFRM_DT as purchaseOrderConfirmationDate ,
			VNDR_NUM as vendorNumber ,
			VNDR_NM as vendorName ,
			MO_RELSE_DT as moReleaseDate ,
			REJ_RSN_DESC as rejectReasonDescription ,
			GEO_ID as geographyIdentifier ,
			SHPNG_COND as shippingCondition ,
			SHPNG_COND_DESC as shippingConditionDescription ,
			SHPNG_PT as shippingPoint ,
			SLS_ORGN as salesOrganization ,
			SLS_OFF_CTRY as salesOfficeCountry ,
			DVSN as division ,
			DSTRBTN_CHNL as distributionChannel ,
			DLVRY_BLK_ITEM as deliveryBlockItem ,
			DLVRY_BLK_HDR as deliveryBlockHeader ,
			DLVRY_BLK_DESC_HDR as deliveryBlockDescriptionHeader ,
			CRDT_RELSE_DT as creditReleaseDate ,
			CRDT_CARD_TYPE as creditCardType ,
			CRDT_CARD_LAST_4_DIG as creditCardLast4Digit ,
			TRAN_OR_RLTN as transactionorRelation ,
			CNTRC_NUM as contractNumber ,
			CARR_CD as carrierCode ,
			CARR_NM as carrierName ,
			CARR_PHN_DESC_1 as carrierPhoneDescription1 ,
			CARR_PHN_DESC_2 as carrierPhoneDescription2 ,
			CARR_PHN_NUM_1 as carrierPhoneNumber1 ,
			CARR_PHN_NUM_2 as carrierPhoneNumber2 ,
			CARR_TCKG_NUM as carrierTrackingNumber ,
			CARR_TCKG_QTY as carrierTrackingQuantity ,
			CARR_PICK_UP_DT as carrierPickUpDate ,
			MODE_OF_TRSPN as modeOfTransportation ,
			RTE as route ,
			SHPNG_SRC as shippingSource ,
			SOS_DLVRY_NUM as sosDeliveryNumber ,
			SOS_ORDR_NUM as sosOrderNumber ,
			INVC_DT as invoiceDate ,
			SOLD_TO_CUST_NUM as soldToCustomerNumber ,
			SOLD_TO_CUST_NM as soldToCustomerName ,
			SOLD_TO_CUST_NM2 as soldToCustomerName2 ,
			SOLD_TO_CUST_NM3 as soldToCustomerName3 ,
			SOLD_TO_CUST_NM4 as soldToCustomerName4 ,
			SOLD_TO_HOUSE_NUM as soldToHouseNumber ,
			SOLD_TO_STREET_1 as soldToStreet1 ,
			SOLD_TO_STREET_2 as soldToStreet2 ,
			SOLD_TO_DIST as soldToDistrict ,
			SOLD_TO_CITY_1 as soldToCity1 ,
			SOLD_TO_RGN_CD as soldToRegionCode ,
			SOLD_TO_RGN_NM as soldToRegionName ,
			SOLD_TO_CTRY_CD as soldToCountryCode ,
			SOLD_TO_CTRY_NM as soldToCountryName ,
			SOLD_TO_PSTL_CD as soldToPostalCode ,
			SHIP_TO_CUST_NUM as shipToCustomerNumber ,
			SHIP_TO_CUST_NM as shipToCustomerName ,
			SHIP_TO_CUST_NM2 as shipToCustomerName2 ,
			SHIP_TO_CUST_NM3 as shipToCustomerName3 ,
			SHIP_TO_CUST_NM4 as shipToCustomerName4 ,
			SHIP_TO_HOUSE_NUM as shipToHouseNumber ,
			SHIP_TO_STREET_1 as shipToStreet1 ,
			SHIP_TO_STREET_2 as shipToStreet2 ,
			SHIP_TO_DIST as shipToDistrict ,
			SHIP_TO_CITY_1 as shipToCity1 ,
			SHIP_TO_RGN_CD as shipToRegionCode ,
			SHIP_TO_RGN_NM as shipToRegionName ,
			SHIP_TO_CTRY_CD as shipToCountryCode ,
			SHIP_TO_CTRY_NM as shipToCountryName ,
			SHIP_TO_PSTL_CD as shipToPostalCode ,
			SHIP_TO_EML as shipToEmail ,
			SHIP_TO_PHN_NUM as shipToTelephoneNumber ,
			BILL_TO_CUST_NUM as billToCustomerNumber ,
			BILL_TO_CUST_NM as billToCustomerName ,
			BILL_TO_CUST_NM2 as billToCustomerName2 ,
			BILL_TO_CUST_NM3 as billToCustomerName3 ,
			BILL_TO_CUST_NM4 as billToCustomerName4 ,
			BILL_TO_HOUSE_NUM as billToHouseNumber ,
			BILL_TO_STREET_1 as billToStreet1 ,
			BILL_TO_STREET_2 as billToStreet2 ,
			BILL_TO_DIST as billToDistrict ,
			BILL_TO_CITY_1 as billToCity1 ,
			BILL_TO_RGN_CD as billToRegionCode ,
			BILL_TO_RGN_NM as billToRegionName ,
			BILL_TO_CTRY_CD as billToCountryCode ,
			BILL_TO_PSTL_CD as billToPostalCode ,
			BILL_TO_EML as billToEmail ,
			BILL_TO_PHN_NUM as billToTelephoneNumber ,
			BILL_TO_CUST_CNTCT_NM_1 as billToCustomerContactName1 ,
			BILL_TO_CUST_CNTCT_NM_2 as billToCustomerContactName2 ,
			PAYER_CUST_NUM as payerCustomerNumber ,
			PAYER_CUST_NM as payerCustomerName ,
			PAYER_CUST_NM2 as payerCustomerName2 ,
			PAYER_CUST_NM3 as payerCustomerName3 ,
			PAYER_CUST_NM4 as payerCustomerName4 ,
			PAYER_HOUSE_NUM as payerHouseNumber ,
			PAYER_STREET_1 as payerStreet1 ,
			PAYER_STREET_2 as payerStreet2 ,
			PAYER_DIST as payerDistrict ,
			PAYER_CITY_1 as payerCity1 ,
			PAYER_RGN_CD as payerRegionCode ,
			PAYER_RGN_NM as payerRegionName ,
			PAYER_CTRY_CD as payerCountryCode ,
			PAYER_CTRY_NM as payerCountryName ,
			PAYER_PSTL_CD as payerPostalCode ,
			GLOBL_LOC_NUM as globalLocNum ,
			GLOBL_LOC_NM as globalLocName ,
			GIN as gin ,
			CNSMR_ID as consumerId ,
			END_CUST_CHM_NUM as endCustomerChmNumber ,
			END_CUST_CHM_NM as endcustomerChmName ,
			LAST_UPDT_DTTM as lastUpdateDatetime ,
			AR_DUE_DT as arDueDate ,
			AR_PYMT_TERM as arPaymentTerm ,
			LOCAL_CRNCY as localCurrency ,
			DOC_CRNCY as documentCurrency ,
			TOT_AMT_IN_LOCAL_CRNCY as toltalAmountInLocCurrency ,
			TOT_AMT_IN_DOC_CRNCY as toltalAmountInDocCurrency ,
			CASH_CLRG_DT as cashClearanceDate ,
			AR_RECV_DT as arReceivingDate ,
			DSPUT_CTGRY_CD as disputeCategoryCode ,
			DSPUT_CTGRY_DESC as disputeCategoryDesc ,
			DSPUT_RSN_CD as disputeReasonCode ,
			DSPUT_RSN_DESC as disputeReasonDesc ,
			DSPUT_ROOT_CAUSE_CD as disputeRootCauseCode ,
			DSPUT_ROOT_CAUSE_DESC as disputeRootCauseDesc ,
			SHIP_TO_ADDR as shipToAddress ,
			BILL_TO_ADDR as billToAddress ,
			SOLD_TO_ADDR as soldToAddress ,
			BILL_TO_CTRY_NM as billToCountryName ,
			CALC_ARR_DT as calculateArrivalDate ,
			CUST_ACCT_GRP as customerAccountGroup ,
			SRC_SYS as sourceSystem ,
			NFENUM as notFisca ,
			SHIP_ORDR_NUM as shipAmount ,
			TAX_ORDR_NUM as taxAmount ,
			REC_FEE as recyclingFees ,
			CUST_RQSTD_ARR_DT_ITEM as itemCrad ,
			SHIP_STS_DESC as milestone ,
			X1_STS_DTTM as x1SttaSDttm ,
			AF_STS_DTTM as afStatsDttm ,
			X4_STS_DTTM as x4StatsDttm ,
			AE_STS_DTTM as aeStatsDttm ,
			F_STS_DTTM as f1StatsDttm ,
			E_STS_DTTM as e1StatsDttm ,
			A_STS_DTTM as a1StatsDttm ,
			CT_STS_DTTM as ctStatsDttm ,
			UV_STS_DTTM as uvStatsDttm ,
			D_STS_DTTM as d1StatsDttm ,
			OA_STS_DTTM as oaStatsDttm ,
			SMATL_HIGH_LEVEL as smatlHighLevel ,
			SMATL_ITEM_GATG_SERV as smatlItemCategory ,
			SERIES as series ,
			CTO_FLG as cto 
			
			
		FROM  OVP.V_MQT_RDL_SLS_ORDR_STS	
		              FETCH FIRST ${endRowNum} ROWS ONLY 
		) as TEMP WHERE rownumber >= ${startRowNum} 
		FOR READ ONLY WITH UR  
    </select>
    
    <select id="salesOrderBigView" parameterType="map" resultType="salesOrder">
      SELECT * 
		  FROM
		  
		  ( SELECT rownumber()  over()  as rownumber,	
			
			
			SRL_NUM as serialNumber ,
			ASSET_TAGS_SD as assetTagsSd ,
			MAC_ADDRES as macAddresses ,
			MAC_ADDR_2 as macAddresses2 ,
			UUID as uuid ,
			WTY_STRT_DT as warrantyStartDate ,
			WTY_END_DT as warrantyEndDate ,
			SLS_ORDR_NUM as salesOrderNumber ,
			SLS_ORDR_LINE_NUM as salesOrderLineItemNumber ,
			DLVRY_NUM as deliveryNumber ,
			DLVRY_ITEM_NUM as deliveryItemNumber ,
			INVC_NUM as invoiceNumber ,
			ORDR_TYPE as orderType ,
			ORDR_TYPE_DESC as orderTypeDescription ,
			ORDR_STS_HDR as orderStatusHeader ,
			ORDR_STS_ITEM as orderStatusItem ,
			PRTL_SHIP as partialShip ,
			ORDR_CTGRY as orderCategory ,
			PROD_ID as productId ,
			PROD_DESC as productDescription ,
			PROD_HIER as productHierarchy ,
			MACH_TYPE as machineType ,
			MACH_TYPE_DESC as machineTypeDescription ,
			MACH_MDL as machineModel ,
			MACH_MDL_DESC as machineModelDescription ,
			PROD_GRP as productGroup ,
			PROD_GRP_DESC as productGroupDescription ,
			PROD_BRD as productBrand ,
			PROD_BRD_DESC as productBrandDescription ,
			PROD_FMLY as productFamily ,
			EAN_UPC as eanUpc ,
			ORDR_QTY as orderQuantity ,
			DLVRD_QTY as deliveredQuantity ,
			DLVRY_NOTES as deliveryNotes ,
			SLS_UNIT as salesUnit ,
			HDR_CRNCY as headerCurrency ,
			ITEM_CRNCY as itemCurrency ,
			UNIT_PRC as unitPrice ,
			ORDR_AMT_ITEM as totalLineItemPrice ,
			ORDR_AMT_HDR as purchaseAmount ,
			TOT_PRC_ORDR_TAX as totalPurchaseOrderTax ,
			DOC_DT as documentDate ,
			ORDR_ENT_DT as orderEntryDate ,
			ORDR_ENT_TM as orderEntryTime ,
			ORDR_CHG_DT as orderChangeDate ,
			ORDR_RCPT_DT as orderReceiptDate ,
			ORDR_CNCLL_DT as orderCancellDate ,
			CUST_RQSTD_ARR_DT as customerRequestedArrivalDate ,
			PLAN_ARR_DT as plannedArrivalDate ,
			PLAN_SPLR_SHIP_DT as plannedSupplierShipDate ,
			ORDR_RELSE_DT as orderReleaseDate ,
			FIRM_SHIP_DT as firmShipDate ,
			FIRM_ARR_DT as firmArrivalDate ,
			SO_LINE_ITEM_LEAD_TM as soLineItemLeadTime ,
			PROOF_OF_DLVRY as proofOfDelivery ,
			CMT_GOODS_ISS_CSD as committedGoodsIssueCSD ,
			CT_ORDR_ENT_TO_SHIP_DT_BSNS as ctOrderEntryToShipDateBusiness ,
			CT_ORDR_ENT_TO_SHIP_DT_CAL as ctOrderEntryToShipDateCalendar ,
			CT_ORDR_RCPT_TO_SHIP_DT_BSNS as ctShipDateBus ,
			CT_ORDR_RCPT_TO_SHIP_DT_CAL as ctShipDateCalendar ,
			CT_ORDR_ENT_TO_DLVRY_DT_BSNS as ctDeliveryDateBusiness ,
			CT_ORDR_ENT_TO_DLVRY_DT_CAL as ctDeliveryCalendar ,
			CT_ORDR_RCPT_TO_DLVRY_DT_CAL as ctReceiptDeliCalendar ,
			CT_ORDR_RCPT_TO_DLVRY_DT_BSNS as ctReceiptToDeliDateBusi ,
			ORDR_RCPT_TO_ORDR_RELSE as orderReceiptToOrderRelease ,
			CUST_PO_NUM as customerPurchaseOrderNumber ,
			SOH_PO_NUM as sohPurchaseOrderNumber ,
			ORDRG_METH as orderingMethod ,
			ORDRG_METH_DESC as orderingMethodDescription ,
			REJ_RSN as rejectReason ,
			PO_DOC_DT as purchaseOrderDocumentDate ,
			PO_CNFRM_DT as purchaseOrderConfirmationDate ,
			VNDR_NUM as vendorNumber ,
			VNDR_NM as vendorName ,
			MO_RELSE_DT as moReleaseDate ,
			REJ_RSN_DESC as rejectReasonDescription ,
			GEO_ID as geographyIdentifier ,
			SHPNG_COND as shippingCondition ,
			SHPNG_COND_DESC as shippingConditionDescription ,
			SHPNG_PT as shippingPoint ,
			SLS_ORGN as salesOrganization ,
			SLS_OFF_CTRY as salesOfficeCountry ,
			DVSN as division ,
			DSTRBTN_CHNL as distributionChannel ,
			DLVRY_BLK_ITEM as deliveryBlockItem ,
			DLVRY_BLK_HDR as deliveryBlockHeader ,
			DLVRY_BLK_DESC_HDR as deliveryBlockDescriptionHeader ,
			CRDT_RELSE_DT as creditReleaseDate ,
			CRDT_CARD_TYPE as creditCardType ,
			CRDT_CARD_LAST_4_DIG as creditCardLast4Digit ,
			TRAN_OR_RLTN as transactionorRelation ,
			CNTRC_NUM as contractNumber ,
			CARR_CD as carrierCode ,
			CARR_NM as carrierName ,
			CARR_PHN_DESC_1 as carrierPhoneDescription1 ,
			CARR_PHN_DESC_2 as carrierPhoneDescription2 ,
			CARR_PHN_NUM_1 as carrierPhoneNumber1 ,
			CARR_PHN_NUM_2 as carrierPhoneNumber2 ,
			CARR_TCKG_NUM as carrierTrackingNumber ,
			CARR_TCKG_QTY as carrierTrackingQuantity ,
			CARR_PICK_UP_DT as carrierPickUpDate ,
			MODE_OF_TRSPN as modeOfTransportation ,
			RTE as route ,
			SHPNG_SRC as shippingSource ,
			SOS_DLVRY_NUM as sosDeliveryNumber ,
			SOS_ORDR_NUM as sosOrderNumber ,
			INVC_DT as invoiceDate ,
			SOLD_TO_CUST_NUM as soldToCustomerNumber ,
			SOLD_TO_CUST_NM as soldToCustomerName ,
			SOLD_TO_CUST_NM2 as soldToCustomerName2 ,
			SOLD_TO_CUST_NM3 as soldToCustomerName3 ,
			SOLD_TO_CUST_NM4 as soldToCustomerName4 ,
			SOLD_TO_HOUSE_NUM as soldToHouseNumber ,
			SOLD_TO_STREET_1 as soldToStreet1 ,
			SOLD_TO_STREET_2 as soldToStreet2 ,
			SOLD_TO_DIST as soldToDistrict ,
			SOLD_TO_CITY_1 as soldToCity1 ,
			SOLD_TO_RGN_CD as soldToRegionCode ,
			SOLD_TO_RGN_NM as soldToRegionName ,
			SOLD_TO_CTRY_CD as soldToCountryCode ,
			SOLD_TO_CTRY_NM as soldToCountryName ,
			SOLD_TO_PSTL_CD as soldToPostalCode ,
			SHIP_TO_CUST_NUM as shipToCustomerNumber ,
			SHIP_TO_CUST_NM as shipToCustomerName ,
			SHIP_TO_CUST_NM2 as shipToCustomerName2 ,
			SHIP_TO_CUST_NM3 as shipToCustomerName3 ,
			SHIP_TO_CUST_NM4 as shipToCustomerName4 ,
			SHIP_TO_HOUSE_NUM as shipToHouseNumber ,
			SHIP_TO_STREET_1 as shipToStreet1 ,
			SHIP_TO_STREET_2 as shipToStreet2 ,
			SHIP_TO_DIST as shipToDistrict ,
			SHIP_TO_CITY_1 as shipToCity1 ,
			SHIP_TO_RGN_CD as shipToRegionCode ,
			SHIP_TO_RGN_NM as shipToRegionName ,
			SHIP_TO_CTRY_CD as shipToCountryCode ,
			SHIP_TO_CTRY_NM as shipToCountryName ,
			SHIP_TO_PSTL_CD as shipToPostalCode ,
			SHIP_TO_EML as shipToEmail ,
			SHIP_TO_PHN_NUM as shipToTelephoneNumber ,
			BILL_TO_CUST_NUM as billToCustomerNumber ,
			BILL_TO_CUST_NM as billToCustomerName ,
			BILL_TO_CUST_NM2 as billToCustomerName2 ,
			BILL_TO_CUST_NM3 as billToCustomerName3 ,
			BILL_TO_CUST_NM4 as billToCustomerName4 ,
			BILL_TO_HOUSE_NUM as billToHouseNumber ,
			BILL_TO_STREET_1 as billToStreet1 ,
			BILL_TO_STREET_2 as billToStreet2 ,
			BILL_TO_DIST as billToDistrict ,
			BILL_TO_CITY_1 as billToCity1 ,
			BILL_TO_RGN_CD as billToRegionCode ,
			BILL_TO_RGN_NM as billToRegionName ,
			BILL_TO_CTRY_CD as billToCountryCode ,
			BILL_TO_PSTL_CD as billToPostalCode ,
			BILL_TO_EML as billToEmail ,
			BILL_TO_PHN_NUM as billToTelephoneNumber ,
			BILL_TO_CUST_CNTCT_NM_1 as billToCustomerContactName1 ,
			BILL_TO_CUST_CNTCT_NM_2 as billToCustomerContactName2 ,
			PAYER_CUST_NUM as payerCustomerNumber ,
			PAYER_CUST_NM as payerCustomerName ,
			PAYER_CUST_NM2 as payerCustomerName2 ,
			PAYER_CUST_NM3 as payerCustomerName3 ,
			PAYER_CUST_NM4 as payerCustomerName4 ,
			PAYER_HOUSE_NUM as payerHouseNumber ,
			PAYER_STREET_1 as payerStreet1 ,
			PAYER_STREET_2 as payerStreet2 ,
			PAYER_DIST as payerDistrict ,
			PAYER_CITY_1 as payerCity1 ,
			PAYER_RGN_CD as payerRegionCode ,
			PAYER_RGN_NM as payerRegionName ,
			PAYER_CTRY_CD as payerCountryCode ,
			PAYER_CTRY_NM as payerCountryName ,
			PAYER_PSTL_CD as payerPostalCode ,
			GLOBL_LOC_NUM as globalLocNum ,
			GLOBL_LOC_NM as globalLocName ,
			GIN as gin ,
			CNSMR_ID as consumerId ,
			END_CUST_CHM_NUM as endCustomerChmNumber ,
			END_CUST_CHM_NM as endcustomerChmName ,
			LAST_UPDT_DTTM as lastUpdateDatetime ,
			AR_DUE_DT as arDueDate ,
			AR_PYMT_TERM as arPaymentTerm ,
			LOCAL_CRNCY as localCurrency ,
			DOC_CRNCY as documentCurrency ,
			TOT_AMT_IN_LOCAL_CRNCY as toltalAmountInLocCurrency ,
			TOT_AMT_IN_DOC_CRNCY as toltalAmountInDocCurrency ,
			CASH_CLRG_DT as cashClearanceDate ,
			AR_RECV_DT as arReceivingDate ,
			DSPUT_CTGRY_CD as disputeCategoryCode ,
			DSPUT_CTGRY_DESC as disputeCategoryDesc ,
			DSPUT_RSN_CD as disputeReasonCode ,
			DSPUT_RSN_DESC as disputeReasonDesc ,
			DSPUT_ROOT_CAUSE_CD as disputeRootCauseCode ,
			DSPUT_ROOT_CAUSE_DESC as disputeRootCauseDesc ,
			SHIP_TO_ADDR as shipToAddress ,
			BILL_TO_ADDR as billToAddress ,
			SOLD_TO_ADDR as soldToAddress ,
			BILL_TO_CTRY_NM as billToCountryName ,
			CALC_ARR_DT as calculateArrivalDate ,
			CUST_ACCT_GRP as customerAccountGroup ,
			SRC_SYS as sourceSystem ,
			NFENUM as notFisca ,
			SHIP_ORDR_NUM as shipAmount ,
			TAX_ORDR_NUM as taxAmount ,
			REC_FEE as recyclingFees ,
			CUST_RQSTD_ARR_DT_ITEM as itemCrad ,
			SHIP_STS_DESC as milestone ,
			X1_STS_DTTM as x1SttaSDttm ,
			AF_STS_DTTM as afStatsDttm ,
			X4_STS_DTTM as x4StatsDttm ,
			AE_STS_DTTM as aeStatsDttm ,
			F_STS_DTTM as f1StatsDttm ,
			E_STS_DTTM as e1StatsDttm ,
			A_STS_DTTM as a1StatsDttm ,
			CT_STS_DTTM as ctStatsDttm ,
			UV_STS_DTTM as uvStatsDttm ,
			D_STS_DTTM as d1StatsDttm ,
			OA_STS_DTTM as oaStatsDttm ,
			SMATL_HIGH_LEVEL as smatlHighLevel ,
			SMATL_ITEM_GATG_SERV as smatlItemCategory ,
			SERIES as series ,
			CTO_FLG as cto 
		FROM  OVP.V_MQT_RDL_SLS_ORDR_STS_SN	
		             FETCH FIRST ${endRowNum} ROWS ONLY 
		) as TEMP WHERE rownumber >= ${startRowNum} 
		FOR READ ONLY WITH UR  
    </select>
    
    <select id="findSalesOrderSmallViewByLastUpDM" parameterType="map" resultType="salesOrder">
        SELECT rownumber()  over()  as rownumber,
			SLS_ORDR_NUM as salesOrderNumber ,
			SLS_ORDR_LINE_NUM as salesOrderLineItemNumber ,
			DLVRY_NUM as deliveryNumber ,
			DLVRY_ITEM_NUM as deliveryItemNumber ,
			INVC_NUM as invoiceNumber ,
			ORDR_TYPE as orderType ,
			ORDR_TYPE_DESC as orderTypeDescription ,
			ORDR_STS_HDR as orderStatusHeader ,
			ORDR_STS_ITEM as orderStatusItem ,
			PRTL_SHIP as partialShip ,
			ORDR_CTGRY as orderCategory ,
			PROD_ID as productId ,
			PROD_DESC as productDescription ,
			PROD_HIER as productHierarchy ,
			MACH_TYPE as machineType ,
			MACH_TYPE_DESC as machineTypeDescription ,
			MACH_MDL as machineModel ,
			MACH_MDL_DESC as machineModelDescription ,
			PROD_GRP as productGroup ,
			PROD_GRP_DESC as productGroupDescription ,
			PROD_BRD as productBrand ,
			PROD_BRD_DESC as productBrandDescription ,
			PROD_FMLY as productFamily ,
			EAN_UPC as eanUpc ,
			ORDR_QTY as orderQuantity ,
			DLVRD_QTY as deliveredQuantity ,
			DLVRY_NOTES as deliveryNotes ,
			SLS_UNIT as salesUnit ,
			HDR_CRNCY as headerCurrency ,
			ITEM_CRNCY as itemCurrency ,
			UNIT_PRC as unitPrice ,
			ORDR_AMT_ITEM as totalLineItemPrice ,
			ORDR_AMT_HDR as purchaseAmount ,
			TOT_PRC_ORDR_TAX as totalPurchaseOrderTax ,
			DOC_DT as documentDate ,
			ORDR_ENT_DT as orderEntryDate ,
			ORDR_ENT_TM as orderEntryTime ,
			ORDR_CHG_DT as orderChangeDate ,
			ORDR_RCPT_DT as orderReceiptDate ,
			ORDR_CNCLL_DT as orderCancellDate ,
			CUST_RQSTD_ARR_DT as customerRequestedArrivalDate ,
			PLAN_ARR_DT as plannedArrivalDate ,
			PLAN_SPLR_SHIP_DT as plannedSupplierShipDate ,
			ORDR_RELSE_DT as orderReleaseDate ,
			FIRM_SHIP_DT as firmShipDate ,
			FIRM_ARR_DT as firmArrivalDate ,
			SO_LINE_ITEM_LEAD_TM as soLineItemLeadTime ,
			PROOF_OF_DLVRY as proofOfDelivery ,
			CMT_GOODS_ISS_CSD as committedGoodsIssueCSD ,
			CT_ORDR_ENT_TO_SHIP_DT_BSNS as ctOrderEntryToShipDateBusiness ,
			CT_ORDR_ENT_TO_SHIP_DT_CAL as ctOrderEntryToShipDateCalendar ,
			CT_ORDR_RCPT_TO_SHIP_DT_BSNS as ctShipDateBus ,
			CT_ORDR_RCPT_TO_SHIP_DT_CAL as ctShipDateCalendar ,
			CT_ORDR_ENT_TO_DLVRY_DT_BSNS as ctDeliveryDateBusiness ,
			CT_ORDR_ENT_TO_DLVRY_DT_CAL as ctDeliveryCalendar ,
			CT_ORDR_RCPT_TO_DLVRY_DT_CAL as ctReceiptDeliCalendar ,
			CT_ORDR_RCPT_TO_DLVRY_DT_BSNS as ctReceiptToDeliDateBusi ,
			ORDR_RCPT_TO_ORDR_RELSE as orderReceiptToOrderRelease ,
			CUST_PO_NUM as customerPurchaseOrderNumber ,
			SOH_PO_NUM as sohPurchaseOrderNumber ,
			ORDRG_METH as orderingMethod ,
			ORDRG_METH_DESC as orderingMethodDescription ,
			REJ_RSN as rejectReason ,
			PO_DOC_DT as purchaseOrderDocumentDate ,
			PO_CNFRM_DT as purchaseOrderConfirmationDate ,
			VNDR_NUM as vendorNumber ,
			VNDR_NM as vendorName ,
			MO_RELSE_DT as moReleaseDate ,
			REJ_RSN_DESC as rejectReasonDescription ,
			GEO_ID as geographyIdentifier ,
			SHPNG_COND as shippingCondition ,
			SHPNG_COND_DESC as shippingConditionDescription ,
			SHPNG_PT as shippingPoint ,
			SLS_ORGN as salesOrganization ,
			SLS_OFF_CTRY as salesOfficeCountry ,
			DVSN as division ,
			DSTRBTN_CHNL as distributionChannel ,
			DLVRY_BLK_ITEM as deliveryBlockItem ,
			DLVRY_BLK_HDR as deliveryBlockHeader ,
			DLVRY_BLK_DESC_HDR as deliveryBlockDescriptionHeader ,
			CRDT_RELSE_DT as creditReleaseDate ,
			CRDT_CARD_TYPE as creditCardType ,
			CRDT_CARD_LAST_4_DIG as creditCardLast4Digit ,
			TRAN_OR_RLTN as transactionorRelation ,
			CNTRC_NUM as contractNumber ,
			CARR_CD as carrierCode ,
			CARR_NM as carrierName ,
			CARR_PHN_DESC_1 as carrierPhoneDescription1 ,
			CARR_PHN_DESC_2 as carrierPhoneDescription2 ,
			CARR_PHN_NUM_1 as carrierPhoneNumber1 ,
			CARR_PHN_NUM_2 as carrierPhoneNumber2 ,
			CARR_TCKG_NUM as carrierTrackingNumber ,
			CARR_TCKG_QTY as carrierTrackingQuantity ,
			CARR_PICK_UP_DT as carrierPickUpDate ,
			MODE_OF_TRSPN as modeOfTransportation ,
			RTE as route ,
			SHPNG_SRC as shippingSource ,
			SOS_DLVRY_NUM as sosDeliveryNumber ,
			SOS_ORDR_NUM as sosOrderNumber ,
			INVC_DT as invoiceDate ,
			SOLD_TO_CUST_NUM as soldToCustomerNumber ,
			SOLD_TO_CUST_NM as soldToCustomerName ,
			SOLD_TO_CUST_NM2 as soldToCustomerName2 ,
			SOLD_TO_CUST_NM3 as soldToCustomerName3 ,
			SOLD_TO_CUST_NM4 as soldToCustomerName4 ,
			SOLD_TO_HOUSE_NUM as soldToHouseNumber ,
			SOLD_TO_STREET_1 as soldToStreet1 ,
			SOLD_TO_STREET_2 as soldToStreet2 ,
			SOLD_TO_DIST as soldToDistrict ,
			SOLD_TO_CITY_1 as soldToCity1 ,
			SOLD_TO_RGN_CD as soldToRegionCode ,
			SOLD_TO_RGN_NM as soldToRegionName ,
			SOLD_TO_CTRY_CD as soldToCountryCode ,
			SOLD_TO_CTRY_NM as soldToCountryName ,
			SOLD_TO_PSTL_CD as soldToPostalCode ,
			SHIP_TO_CUST_NUM as shipToCustomerNumber ,
			SHIP_TO_CUST_NM as shipToCustomerName ,
			SHIP_TO_CUST_NM2 as shipToCustomerName2 ,
			SHIP_TO_CUST_NM3 as shipToCustomerName3 ,
			SHIP_TO_CUST_NM4 as shipToCustomerName4 ,
			SHIP_TO_HOUSE_NUM as shipToHouseNumber ,
			SHIP_TO_STREET_1 as shipToStreet1 ,
			SHIP_TO_STREET_2 as shipToStreet2 ,
			SHIP_TO_DIST as shipToDistrict ,
			SHIP_TO_CITY_1 as shipToCity1 ,
			SHIP_TO_RGN_CD as shipToRegionCode ,
			SHIP_TO_RGN_NM as shipToRegionName ,
			SHIP_TO_CTRY_CD as shipToCountryCode ,
			SHIP_TO_CTRY_NM as shipToCountryName ,
			SHIP_TO_PSTL_CD as shipToPostalCode ,
			SHIP_TO_EML as shipToEmail ,
			SHIP_TO_PHN_NUM as shipToTelephoneNumber ,
			BILL_TO_CUST_NUM as billToCustomerNumber ,
			BILL_TO_CUST_NM as billToCustomerName ,
			BILL_TO_CUST_NM2 as billToCustomerName2 ,
			BILL_TO_CUST_NM3 as billToCustomerName3 ,
			BILL_TO_CUST_NM4 as billToCustomerName4 ,
			BILL_TO_HOUSE_NUM as billToHouseNumber ,
			BILL_TO_STREET_1 as billToStreet1 ,
			BILL_TO_STREET_2 as billToStreet2 ,
			BILL_TO_DIST as billToDistrict ,
			BILL_TO_CITY_1 as billToCity1 ,
			BILL_TO_RGN_CD as billToRegionCode ,
			BILL_TO_RGN_NM as billToRegionName ,
			BILL_TO_CTRY_CD as billToCountryCode ,
			BILL_TO_PSTL_CD as billToPostalCode ,
			BILL_TO_EML as billToEmail ,
			BILL_TO_PHN_NUM as billToTelephoneNumber ,
			BILL_TO_CUST_CNTCT_NM_1 as billToCustomerContactName1 ,
			BILL_TO_CUST_CNTCT_NM_2 as billToCustomerContactName2 ,
			PAYER_CUST_NUM as payerCustomerNumber ,
			PAYER_CUST_NM as payerCustomerName ,
			PAYER_CUST_NM2 as payerCustomerName2 ,
			PAYER_CUST_NM3 as payerCustomerName3 ,
			PAYER_CUST_NM4 as payerCustomerName4 ,
			PAYER_HOUSE_NUM as payerHouseNumber ,
			PAYER_STREET_1 as payerStreet1 ,
			PAYER_STREET_2 as payerStreet2 ,
			PAYER_DIST as payerDistrict ,
			PAYER_CITY_1 as payerCity1 ,
			PAYER_RGN_CD as payerRegionCode ,
			PAYER_RGN_NM as payerRegionName ,
			PAYER_CTRY_CD as payerCountryCode ,
			PAYER_CTRY_NM as payerCountryName ,
			PAYER_PSTL_CD as payerPostalCode ,
			GLOBL_LOC_NUM as globalLocNum ,
			GLOBL_LOC_NM as globalLocName ,
			GIN as gin ,
			CNSMR_ID as consumerId ,
			END_CUST_CHM_NUM as endCustomerChmNumber ,
			END_CUST_CHM_NM as endcustomerChmName ,
			LAST_UPDT_DTTM as lastUpdateDatetime ,
			AR_DUE_DT as arDueDate ,
			AR_PYMT_TERM as arPaymentTerm ,
			LOCAL_CRNCY as localCurrency ,
			DOC_CRNCY as documentCurrency ,
			TOT_AMT_IN_LOCAL_CRNCY as toltalAmountInLocCurrency ,
			TOT_AMT_IN_DOC_CRNCY as toltalAmountInDocCurrency ,
			CASH_CLRG_DT as cashClearanceDate ,
			AR_RECV_DT as arReceivingDate ,
			DSPUT_CTGRY_CD as disputeCategoryCode ,
			DSPUT_CTGRY_DESC as disputeCategoryDesc ,
			DSPUT_RSN_CD as disputeReasonCode ,
			DSPUT_RSN_DESC as disputeReasonDesc ,
			DSPUT_ROOT_CAUSE_CD as disputeRootCauseCode ,
			DSPUT_ROOT_CAUSE_DESC as disputeRootCauseDesc ,
			SHIP_TO_ADDR as shipToAddress ,
			BILL_TO_ADDR as billToAddress ,
			SOLD_TO_ADDR as soldToAddress ,
			BILL_TO_CTRY_NM as billToCountryName ,
			CALC_ARR_DT as calculateArrivalDate ,
			CUST_ACCT_GRP as customerAccountGroup ,
			SRC_SYS as sourceSystem ,
			NFENUM as notFisca ,
			SHIP_ORDR_NUM as shipAmount ,
			TAX_ORDR_NUM as taxAmount ,
			REC_FEE as recyclingFees ,
			CUST_RQSTD_ARR_DT_ITEM as itemCrad ,
			SHIP_STS_DESC as milestone ,
			X1_STS_DTTM as x1SttaSDttm ,
			AF_STS_DTTM as afStatsDttm ,
			X4_STS_DTTM as x4StatsDttm ,
			AE_STS_DTTM as aeStatsDttm ,
			F_STS_DTTM as f1StatsDttm ,
			E_STS_DTTM as e1StatsDttm ,
			A_STS_DTTM as a1StatsDttm ,
			CT_STS_DTTM as ctStatsDttm ,
			UV_STS_DTTM as uvStatsDttm ,
			D_STS_DTTM as d1StatsDttm ,
			OA_STS_DTTM as oaStatsDttm ,
			SMATL_HIGH_LEVEL as smatlHighLevel ,
			SMATL_ITEM_GATG_SERV as smatlItemCategory ,
			SERIES as series ,
			CTO_FLG as cto 
			
			
		FROM  OVP.V_MQT_RDL_SLS_ORDR_STS s
		 
		    WHERE  s.LAST_UPDT_DTTM >= '${startUpdateDMTime}' and s.LAST_UPDT_DTTM 
		     <![CDATA[  <  ]]>
		     '${endUpdateDMTime}'  
		      
		FOR READ ONLY WITH UR  
    </select>
    
    
    <select id="findSalesOrderBigViewByLastUpDM" parameterType="map" resultType="salesOrder">
        SELECT rownumber()  over()  as rownumber,
			SRL_NUM as serialNumber ,
			ASSET_TAGS_SD as assetTagsSd ,
			MAC_ADDRES as macAddresses ,
			MAC_ADDR_2 as macAddresses2 ,
			UUID as uuid ,
			WTY_STRT_DT as warrantyStartDate ,
			WTY_END_DT as warrantyEndDate ,
			SLS_ORDR_NUM as salesOrderNumber ,
			SLS_ORDR_LINE_NUM as salesOrderLineItemNumber ,
			DLVRY_NUM as deliveryNumber ,
			DLVRY_ITEM_NUM as deliveryItemNumber ,
			INVC_NUM as invoiceNumber ,
			ORDR_TYPE as orderType ,
			ORDR_TYPE_DESC as orderTypeDescription ,
			ORDR_STS_HDR as orderStatusHeader ,
			ORDR_STS_ITEM as orderStatusItem ,
			PRTL_SHIP as partialShip ,
			ORDR_CTGRY as orderCategory ,
			PROD_ID as productId ,
			PROD_DESC as productDescription ,
			PROD_HIER as productHierarchy ,
			MACH_TYPE as machineType ,
			MACH_TYPE_DESC as machineTypeDescription ,
			MACH_MDL as machineModel ,
			MACH_MDL_DESC as machineModelDescription ,
			PROD_GRP as productGroup ,
			PROD_GRP_DESC as productGroupDescription ,
			PROD_BRD as productBrand ,
			PROD_BRD_DESC as productBrandDescription ,
			PROD_FMLY as productFamily ,
			EAN_UPC as eanUpc ,
			ORDR_QTY as orderQuantity ,
			DLVRD_QTY as deliveredQuantity ,
			DLVRY_NOTES as deliveryNotes ,
			SLS_UNIT as salesUnit ,
			HDR_CRNCY as headerCurrency ,
			ITEM_CRNCY as itemCurrency ,
			UNIT_PRC as unitPrice ,
			ORDR_AMT_ITEM as totalLineItemPrice ,
			ORDR_AMT_HDR as purchaseAmount ,
			TOT_PRC_ORDR_TAX as totalPurchaseOrderTax ,
			DOC_DT as documentDate ,
			ORDR_ENT_DT as orderEntryDate ,
			ORDR_ENT_TM as orderEntryTime ,
			ORDR_CHG_DT as orderChangeDate ,
			ORDR_RCPT_DT as orderReceiptDate ,
			ORDR_CNCLL_DT as orderCancellDate ,
			CUST_RQSTD_ARR_DT as customerRequestedArrivalDate ,
			PLAN_ARR_DT as plannedArrivalDate ,
			PLAN_SPLR_SHIP_DT as plannedSupplierShipDate ,
			ORDR_RELSE_DT as orderReleaseDate ,
			FIRM_SHIP_DT as firmShipDate ,
			FIRM_ARR_DT as firmArrivalDate ,
			SO_LINE_ITEM_LEAD_TM as soLineItemLeadTime ,
			PROOF_OF_DLVRY as proofOfDelivery ,
			CMT_GOODS_ISS_CSD as committedGoodsIssueCSD ,
			CT_ORDR_ENT_TO_SHIP_DT_BSNS as ctOrderEntryToShipDateBusiness ,
			CT_ORDR_ENT_TO_SHIP_DT_CAL as ctOrderEntryToShipDateCalendar ,
			CT_ORDR_RCPT_TO_SHIP_DT_BSNS as ctShipDateBus ,
			CT_ORDR_RCPT_TO_SHIP_DT_CAL as ctShipDateCalendar ,
			CT_ORDR_ENT_TO_DLVRY_DT_BSNS as ctDeliveryDateBusiness ,
			CT_ORDR_ENT_TO_DLVRY_DT_CAL as ctDeliveryCalendar ,
			CT_ORDR_RCPT_TO_DLVRY_DT_CAL as ctReceiptDeliCalendar ,
			CT_ORDR_RCPT_TO_DLVRY_DT_BSNS as ctReceiptToDeliDateBusi ,
			ORDR_RCPT_TO_ORDR_RELSE as orderReceiptToOrderRelease ,
			CUST_PO_NUM as customerPurchaseOrderNumber ,
			SOH_PO_NUM as sohPurchaseOrderNumber ,
			ORDRG_METH as orderingMethod ,
			ORDRG_METH_DESC as orderingMethodDescription ,
			REJ_RSN as rejectReason ,
			PO_DOC_DT as purchaseOrderDocumentDate ,
			PO_CNFRM_DT as purchaseOrderConfirmationDate ,
			VNDR_NUM as vendorNumber ,
			VNDR_NM as vendorName ,
			MO_RELSE_DT as moReleaseDate ,
			REJ_RSN_DESC as rejectReasonDescription ,
			GEO_ID as geographyIdentifier ,
			SHPNG_COND as shippingCondition ,
			SHPNG_COND_DESC as shippingConditionDescription ,
			SHPNG_PT as shippingPoint ,
			SLS_ORGN as salesOrganization ,
			SLS_OFF_CTRY as salesOfficeCountry ,
			DVSN as division ,
			DSTRBTN_CHNL as distributionChannel ,
			DLVRY_BLK_ITEM as deliveryBlockItem ,
			DLVRY_BLK_HDR as deliveryBlockHeader ,
			DLVRY_BLK_DESC_HDR as deliveryBlockDescriptionHeader ,
			CRDT_RELSE_DT as creditReleaseDate ,
			CRDT_CARD_TYPE as creditCardType ,
			CRDT_CARD_LAST_4_DIG as creditCardLast4Digit ,
			TRAN_OR_RLTN as transactionorRelation ,
			CNTRC_NUM as contractNumber ,
			CARR_CD as carrierCode ,
			CARR_NM as carrierName ,
			CARR_PHN_DESC_1 as carrierPhoneDescription1 ,
			CARR_PHN_DESC_2 as carrierPhoneDescription2 ,
			CARR_PHN_NUM_1 as carrierPhoneNumber1 ,
			CARR_PHN_NUM_2 as carrierPhoneNumber2 ,
			CARR_TCKG_NUM as carrierTrackingNumber ,
			CARR_TCKG_QTY as carrierTrackingQuantity ,
			CARR_PICK_UP_DT as carrierPickUpDate ,
			MODE_OF_TRSPN as modeOfTransportation ,
			RTE as route ,
			SHPNG_SRC as shippingSource ,
			SOS_DLVRY_NUM as sosDeliveryNumber ,
			SOS_ORDR_NUM as sosOrderNumber ,
			INVC_DT as invoiceDate ,
			SOLD_TO_CUST_NUM as soldToCustomerNumber ,
			SOLD_TO_CUST_NM as soldToCustomerName ,
			SOLD_TO_CUST_NM2 as soldToCustomerName2 ,
			SOLD_TO_CUST_NM3 as soldToCustomerName3 ,
			SOLD_TO_CUST_NM4 as soldToCustomerName4 ,
			SOLD_TO_HOUSE_NUM as soldToHouseNumber ,
			SOLD_TO_STREET_1 as soldToStreet1 ,
			SOLD_TO_STREET_2 as soldToStreet2 ,
			SOLD_TO_DIST as soldToDistrict ,
			SOLD_TO_CITY_1 as soldToCity1 ,
			SOLD_TO_RGN_CD as soldToRegionCode ,
			SOLD_TO_RGN_NM as soldToRegionName ,
			SOLD_TO_CTRY_CD as soldToCountryCode ,
			SOLD_TO_CTRY_NM as soldToCountryName ,
			SOLD_TO_PSTL_CD as soldToPostalCode ,
			SHIP_TO_CUST_NUM as shipToCustomerNumber ,
			SHIP_TO_CUST_NM as shipToCustomerName ,
			SHIP_TO_CUST_NM2 as shipToCustomerName2 ,
			SHIP_TO_CUST_NM3 as shipToCustomerName3 ,
			SHIP_TO_CUST_NM4 as shipToCustomerName4 ,
			SHIP_TO_HOUSE_NUM as shipToHouseNumber ,
			SHIP_TO_STREET_1 as shipToStreet1 ,
			SHIP_TO_STREET_2 as shipToStreet2 ,
			SHIP_TO_DIST as shipToDistrict ,
			SHIP_TO_CITY_1 as shipToCity1 ,
			SHIP_TO_RGN_CD as shipToRegionCode ,
			SHIP_TO_RGN_NM as shipToRegionName ,
			SHIP_TO_CTRY_CD as shipToCountryCode ,
			SHIP_TO_CTRY_NM as shipToCountryName ,
			SHIP_TO_PSTL_CD as shipToPostalCode ,
			SHIP_TO_EML as shipToEmail ,
			SHIP_TO_PHN_NUM as shipToTelephoneNumber ,
			BILL_TO_CUST_NUM as billToCustomerNumber ,
			BILL_TO_CUST_NM as billToCustomerName ,
			BILL_TO_CUST_NM2 as billToCustomerName2 ,
			BILL_TO_CUST_NM3 as billToCustomerName3 ,
			BILL_TO_CUST_NM4 as billToCustomerName4 ,
			BILL_TO_HOUSE_NUM as billToHouseNumber ,
			BILL_TO_STREET_1 as billToStreet1 ,
			BILL_TO_STREET_2 as billToStreet2 ,
			BILL_TO_DIST as billToDistrict ,
			BILL_TO_CITY_1 as billToCity1 ,
			BILL_TO_RGN_CD as billToRegionCode ,
			BILL_TO_RGN_NM as billToRegionName ,
			BILL_TO_CTRY_CD as billToCountryCode ,
			BILL_TO_PSTL_CD as billToPostalCode ,
			BILL_TO_EML as billToEmail ,
			BILL_TO_PHN_NUM as billToTelephoneNumber ,
			BILL_TO_CUST_CNTCT_NM_1 as billToCustomerContactName1 ,
			BILL_TO_CUST_CNTCT_NM_2 as billToCustomerContactName2 ,
			PAYER_CUST_NUM as payerCustomerNumber ,
			PAYER_CUST_NM as payerCustomerName ,
			PAYER_CUST_NM2 as payerCustomerName2 ,
			PAYER_CUST_NM3 as payerCustomerName3 ,
			PAYER_CUST_NM4 as payerCustomerName4 ,
			PAYER_HOUSE_NUM as payerHouseNumber ,
			PAYER_STREET_1 as payerStreet1 ,
			PAYER_STREET_2 as payerStreet2 ,
			PAYER_DIST as payerDistrict ,
			PAYER_CITY_1 as payerCity1 ,
			PAYER_RGN_CD as payerRegionCode ,
			PAYER_RGN_NM as payerRegionName ,
			PAYER_CTRY_CD as payerCountryCode ,
			PAYER_CTRY_NM as payerCountryName ,
			PAYER_PSTL_CD as payerPostalCode ,
			GLOBL_LOC_NUM as globalLocNum ,
			GLOBL_LOC_NM as globalLocName ,
			GIN as gin ,
			CNSMR_ID as consumerId ,
			END_CUST_CHM_NUM as endCustomerChmNumber ,
			END_CUST_CHM_NM as endcustomerChmName ,
			LAST_UPDT_DTTM as lastUpdateDatetime ,
			AR_DUE_DT as arDueDate ,
			AR_PYMT_TERM as arPaymentTerm ,
			LOCAL_CRNCY as localCurrency ,
			DOC_CRNCY as documentCurrency ,
			TOT_AMT_IN_LOCAL_CRNCY as toltalAmountInLocCurrency ,
			TOT_AMT_IN_DOC_CRNCY as toltalAmountInDocCurrency ,
			CASH_CLRG_DT as cashClearanceDate ,
			AR_RECV_DT as arReceivingDate ,
			DSPUT_CTGRY_CD as disputeCategoryCode ,
			DSPUT_CTGRY_DESC as disputeCategoryDesc ,
			DSPUT_RSN_CD as disputeReasonCode ,
			DSPUT_RSN_DESC as disputeReasonDesc ,
			DSPUT_ROOT_CAUSE_CD as disputeRootCauseCode ,
			DSPUT_ROOT_CAUSE_DESC as disputeRootCauseDesc ,
			SHIP_TO_ADDR as shipToAddress ,
			BILL_TO_ADDR as billToAddress ,
			SOLD_TO_ADDR as soldToAddress ,
			BILL_TO_CTRY_NM as billToCountryName ,
			CALC_ARR_DT as calculateArrivalDate ,
			CUST_ACCT_GRP as customerAccountGroup ,
			SRC_SYS as sourceSystem ,
			NFENUM as notFisca ,
			SHIP_ORDR_NUM as shipAmount ,
			TAX_ORDR_NUM as taxAmount ,
			REC_FEE as recyclingFees ,
			CUST_RQSTD_ARR_DT_ITEM as itemCrad ,
			SHIP_STS_DESC as milestone ,
			X1_STS_DTTM as x1SttaSDttm ,
			AF_STS_DTTM as afStatsDttm ,
			X4_STS_DTTM as x4StatsDttm ,
			AE_STS_DTTM as aeStatsDttm ,
			F_STS_DTTM as f1StatsDttm ,
			E_STS_DTTM as e1StatsDttm ,
			A_STS_DTTM as a1StatsDttm ,
			CT_STS_DTTM as ctStatsDttm ,
			UV_STS_DTTM as uvStatsDttm ,
			D_STS_DTTM as d1StatsDttm ,
			OA_STS_DTTM as oaStatsDttm ,
			SMATL_HIGH_LEVEL as smatlHighLevel ,
			SMATL_ITEM_GATG_SERV as smatlItemCategory ,
			SERIES as series ,
			CTO_FLG as cto 
			
			
		FROM  OVP.V_MQT_RDL_SLS_ORDR_STS s
		 
		    WHERE  s.LAST_UPDT_DTTM >= '${startUpdateDMTime}' and s.LAST_UPDT_DTTM 
		     <![CDATA[  <  ]]>
		     '${endUpdateDMTime}'  
		      
		FOR READ ONLY WITH UR  
    </select>
</mapper>