<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">   
    
   
    <bean id="logAspect" class="com.soar.ax.common.LogAspect"></bean>
    <aop:config>
		<aop:aspect id="log_Aspect" ref="logAspect"> 
	      <aop:pointcut id="target" expression="execution(* com.soar.ax.service1..*.*(..))"/> 
	      <aop:before method="before" pointcut-ref="target"/> 
	      <aop:after method="after" pointcut-ref="target"/>
	      <aop:after-throwing method="logException" pointcut-ref="target"/> 
	    </aop:aspect> 
	</aop:config>   
	
	
 
    <aop:config>  
        <aop:aspect ref="logAspect" >  
            <aop:around method="doAround" pointcut="execution(* com.soar.ax.controller..*.*(..))" />       
        </aop:aspect>  
    </aop:config> 
      
</beans>